html {
  min-height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: linear-gradient(
    -225deg,
    #a445b2 0%,
    #d41872 52%,
    #ff0066 100%
  );
  min-height: 100%;
  padding-bottom: 5rem;
}

header {
  margin-top: 3rem;
}
header h1 {
  color: white;
}
.appointments-list .media {
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 3rem;
}

.appointments-list .media:last-of-type {
  border-bottom: 0;
}
.appointments-list .media-body p {
  margin: 0;
}
.appointments-list .media-body button {
  margin-top: 1rem !important;
}
.appointments-list .media-body span {
  font-weight: bold;
}
.col-form-label {
  font-size: 12px;
}
